# Don't include original .ts files when doing `npm pack`
*.ts
!*.template.ts
!*.d.ts
coverage
.nyc_output
*.tgz

src
dist
*.tsbuildinfo
tsconfig.json
.eslintrc.js
.eslintignore
.prettierrc.js
.github
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CODEOWNERS
openapi.yaml
